[project]
	description = Inheritance zadaci za vjezbanje
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chasmere
[access "refs/for/refs/*"]
	read = group user/chasmere
	push = group user/chasmere
	label-Code-Review = -2..+2 group user/chasmere
	label-Verified = -1..+1 group user/chasmere
	rebase = group user/chasmere
	removeReviewer = group user/chasmere
	submit = group user/chasmere
[access "refs/heads/*"]
	read = group user/chasmere
	create = group user/chasmere
	push = +force group user/chasmere
	pushMerge = group user/chasmere
[access "refs/tags/*"]
	push = +force group user/chasmere
	pushTag = group user/chasmere
	pushSignedTag = group user/chasmere
